h1 {
  color: green;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: teal;
  font-size: 50px;
  font-style: bold;
}

.important {
  font-style: bold;
  font-size: 30px;
}

.unimportant{
  font-size: 15px;
  color: white;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: forestgreen;
}

.column {
  width: 300px;
  border: 2px dotted brown;
  padding: 4px;
  margin: 12px;
  background-color: forestgreen;
}
